<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @newsletter.title %></h1>
    <%= @newsletter.content.html_safe %>
  </body>
</html>